#navbar-pinterest{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 56px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    border: 5px solid white
    


   
}

#left-items a{
    text-decoration: none;
    color: black;
    align-items: start;
    margin: none;
    
}
#left-items #Inicio a{
    display: flex;
    border: 1px solid black;
    border-radius: 48px;
    padding: 0px 4px 0px 16px;
    height: 48px;
    min-width: 50px;
    background-color: black;
    align-items: center;
    color: white;
    
    

}
#links {
     
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
}

.buscador {
    display: flex;
    border: 1px solid #e9e9e9;
    border-radius: 48px;
    padding: 0px 4px 0px 16px;
    height: 47px;
    min-width: 775px;
    background-color: #e9e9e9;
    
}


.buscador:hover{
    background-color: rgb(225, 225, 225);
}
   
.lupa{
    width: 1.5rem;
    height: auto;
    margin: 5px 1px 1px 1px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;


   
}
input{
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    height: 100%;
    outline: none;
    padding: 0;
    width: 100%;
    
}


#links img{
    width: 35px;
    height: 35px;
    padding: 4px;
    
}
#links img:hover{
    background-color: rgb(225, 225, 225);
    border-radius: 50%;

}
    
#Profile-img img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#content{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    
    
}

.card-image img{
    display: inline-block;
    width: 236px;
    height: auto;
    border-radius: 8%;
    min-width: 240px;
    max-width: 240px;
    margin: 8px;
}


